<!doctype html>
<html lang="ko">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Nanum+Brush+Script&family=Noto+Serif+KR:wght@900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Bookcuration System</title>
    <style>
      body { padding: 0px; margin: 0px; }
      .jb-box { width: auto; height: auto; overflow: hidden;margin: 0px auto; position: relative; }
      video { width: 100%; }
      .jb-text { position: absolute; top: 30%; width: 100%; text-align: center;}
      .jb-text p { margin-top: -24px; font-family: 'Noto Serif KR', cursive; text-align: center; font-size: 48px; color: #ffffff; }
    </style>
  </head>
  <body>
    <div class="jb-box">
        <head>
            <a href="">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2"
            src="/static/KakaoTalk_20210829_231632624.png" alt="..." width="100" height="100"/> Book Curation System </head>
            </a>
        <head>
      <video muted autoplay loop>
        <source src="/static/library.mp4" type="video/mp4">
        <strong>Your browser does not support the video tag.</strong>
      </video>
    </div>
    <div class="jb-text">
        <p>선호하는 장르를 골라주세요</p>
    </div>
    <div class="jb-text">
        <br><br><br><br><br><br><br><br><br>
        <a class="btn btn-primary" href="/book/middle/">소설</a>
        <a class="btn btn-secondary" href="/book/middle/">인문</a>
        <a class="btn btn-success" href="#about">가정/생활/요리</a>
        <a class="btn btn-info" href="#about">경제/경영</a>
        <a class="btn btn-warning" href="#about">사회</a>
        <br />
        <a class="btn btn-danger" href="#about">역사/문화</a>
        <a class="btn btn-primary" href="#about">예술/대중문화</a>
        <a class="btn btn-light">학습/참고서</a>
        <a class="btn btn-secondary" href="#about">국어/외국어</a>
        <a class="btn btn-success" href="#about">취업/수험서</a>
        <a class="btn btn-info" href="#about">여행/지도</a>
        <a class="btn btn-warning" href="#about">컴퓨터/IT</a>
        <br />
        <a class="btn btn-danger" href="#about">잡지</a>
        <a class="btn btn-primary btn-xl" href="#about">유아</a>
        <a class="btn btn-light" href="#about">어린이</a>
        <a class="btn btn-secondary" href="#about">시/에세이</a>
        <a class="btn btn-success" href="#about">건강</a>
        <a class="btn btn-info" href="#about">취미/레저</a>
        <a class="btn btn-warning" href="#about">자기계발</a>
        <a class="btn btn-danger" href="#about">종교</a>
        <a class="btn btn-success" href="#about">사전</a>
        <br />
        <a class="btn btn-light" href="#about">과학/공학</a>
        <a class="btn btn-secondary" href="#about">청소년</a>
        <a class="btn btn-success" href="#about">만화</a>
        <a class="btn btn-info" href="#about">해외도서</a>
      </div>
    </div>
  </body>
</html>

    
